
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #fff;
}

a{
  text-decoration: none;
  color: #727376;
}
a:hover{
  color: inherit;
}
img{
  width: 100%;
}
.p-color{
  color: #727376;
}
p{
  margin: 0;
}
/* Hero ===========================> */
.hero{
  background-image : url('../assets/hero/hearo-background.png');
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .hero-main{
  margin-top: 4rem;
}

.hero .hero-main .hero-right-content{
 
}
.hero .hero-main .hero-right-content .hero-right-img{
  width: 24rem;
  height: 24rem;
  margin: 0 auto;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  position: relative;
}
.hero-right-img-border{
  width: 200px;
  height: 25.6rem;
  position: absolute;
  right: -13px;
  top: -13px;
}
.hero-left-img-border{
  width: 200px;
  height: 25.6rem;
  position: absolute;
  right: 196px;
  top: -12px;
}
.hero-left-content{
  width: 80%;
  margin: 0 auto;
}
.hero-left-content-title1 h1{
  color: #51a8b1;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 0;
}
.hero-left-content-title2{
  font-size: 2rem;
  padding: .6rem 0;
}
.hero-left-more-detail{
  display: flex;
  margin-top: 3rem;
  justify-content: flex-end;
  align-items: center;
}
.hero-left-more-detail-button button{
  border: none;
  outline: none;
  background-color: #006e77;
  color: #fff;
  padding: .6rem 1.1rem;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.hero-left-more-detail-etc{
  color: #006e77;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
.hero-left-more-detail-etc-dot1{
  font-size: 3.3rem;
}
.hero-left-more-detail-etc-dot2{
  font-size: 2.6rem;
  padding: 0 0.4rem;
  padding-top: 0.1rem;
}
.hero-left-more-detail-etc-dot3{
  font-size: 2rem;
}
/* header ===========================> */
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}
.header-logo-size{
  width: 4.1rem;
}
.header-item-size{
  width: 1.1rem;
}
.logo-title{
  padding-right: .5rem;
  padding-top: 0.5rem;
}
.logo-title-top-line{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
}
.logo-bottom-top-line{
  text-transform: uppercase;
  font-size: .79rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
}
.logo-bottom-top-line span{
  color: #51a8b1;
}
.nav-item-typography{
  font-size: .9rem;
  color: #727376; 
  padding-left: .3rem;
  font-weight: bold;
}
.nav-item-typography.active{
  color:#51a8b1;
}
.nav-item{
  padding: 0 .8rem;
}
.nav-item-dot{
  display: none;
  
}
.nav-item-dot.active{
  display: initial;
}
.login-register-btn{
  padding: .6rem 1rem;
  display: inline-block;
  background: #51a8b1;
  color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-togle-button{
  width: 2rem;
  cursor: pointer;
  display: none;
}



/* <==================== End Header */
/*  Eritrosion Services ==========> */
.card-body{
  padding: 0;
}
.eritrosion-services{
  margin-top: 7rem;
  background-image : url('../assets/body-background.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  z-index : -100;
}
.eritrosion-services-title{
  display: flex;
  justify-content: center;
}
.eritrosion-services-title h2{
  font-size: 2.6rem;
  color: #51a8b1;
  
}
.eritrosion-services-card-content{
  width : 85%;
  margin: 0 auto;
}
.eritrosion-services-content{
  margin-top: 4rem;
}
.eritrosion-services-custom-card{
  border-radius: 49px;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  -ms-border-radius: 49px;
  -o-border-radius: 49px;
  padding: 1rem;
  box-shadow: 0px 2px 10px 0px #00ffff59;
  cursor: pointer;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.eritrosion-services-custom-card:hover{
  background: rgb(3,51,62);
  background: linear-gradient(114deg, rgba(3,51,62,1) 0%, rgba(3,51,62,1) 48%, rgba(0,46,57,1) 51%, rgba(0,46,57,1) 100%);
  background-position: 200px;

}
.eritrosion-services-custom-card:hover h5{
  color: #fff;
}
.eritrosion-services-custom-card:hover p{
  color: #7f979d;
}

.eritrosion-services-custom-card:hover .eritrosion-services-more-detail-content-img-light{
  display: none;
}
.eritrosion-services-custom-card:hover .eritrosion-services-more-detail-content-img-dark{
  display: block;
}
.eritrosion-services-logo-content{
  width : 3.5rem;
  padding-bottom: .6rem;
}
.eritrosion-services-content-custom-card-text{
  font-size: 1rem
}
.eritrosion-services-more-detail-content{
  position: relative;
  margin-top: 1rem;
}
.eritrosion-services-more-detail-arrow{
  position: absolute;
  top: 13px;
  left: 18px;
}

.eritrosion-services-card-style:nth-child(odd) {
  margin-top: 6rem;
}
.eritrosion-services-more-detail-content-img-dark{
  display: none;
}
/* =========> End Eritrosion Services */

/* Team ============================> */

.team{
  margin-top: 13rem;
}
.team-right-content{
  text-align: center;
}
.team-title h4{
  padding : 1rem 0;
  color: #51a8b1;
  font-size: 2rem;
  font-weight: 700;
}
.team-description p{
  font-size: 1.5rem;
  word-spacing: 2.6px;
}
.team-left-content{
  /* background: #ffff004f; */
  border-left: 2px solid #e9e4e4;
  position: relative;
  width: 80%;
  padding: 7rem 1rem;
  border-radius: 43%;
  -webkit-border-radius: 43%;
  -moz-border-radius: 43%;
  -ms-border-radius: 43%;
  -o-border-radius: 43%;
}
.team-left-main-img-content{
  /* background: #af9a9a40; */
  width: 17rem;
  height: 17rem;
  position: relative;
  margin-right: .5rem;
}
.team-main-border-righ{
  width: 8rem;
  height: 17rem;
  position: absolute;
  top: 0;
  right: .1rem;
}
.team-main-border-left{
  width: 8rem;
  height: 17rem;
  position: absolute;
  right: 9rem;
  top: 0;

}

.team-left-title1{
  font-weight: 700;
}
.team-left-title2{
  font-size: 1.3rem;
  font-weight: 400;
}
.team-left-description{
  font-size: 1.1rem;
  margin-top: .8rem;
}

.member1, .member2, .member3, .member4{
  width: 4rem;
  height: 4rem;
  position: absolute;
}
.member1{
  top: 1rem;
  left: 3rem;
}
.member2{
  top: 9rem;
  left: -2rem;
}
.member3{
  top: 18.3rem;
  left: -2rem;
}
.member4{
  top: 26.2rem;
  left: 3rem;
}
.next-button, .prev-button{
  width: 2rem;
  position: absolute;
  cursor: pointer;
}
.next-button{
  top: 7rem;
  right: -5rem;
}
.prev-button{
  top: 7rem;
  left: -6rem;
}
.next-arrow-img{
  position: absolute;
  top: 0.45rem;
  left: 0.9rem;
  width: 0.6rem;
}
.prev-arrow-img{
  position: absolute;
  top: 0.45rem;
  left: 0.7rem;
  width: 0.6rem;
}

/* ======================== End Team */













/* @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); */

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}




@media (max-width: 1000px) {
  .navbar-nav {
    background-color: #51a8b1ed;
    position: absolute;
    z-index: 1000;
    top: -4px;
    right: -4px;
    text-align: left;
    width: 50vw;
    height: 100vh;
    padding: 0;
    padding-top: 2rem;
    display: none;
}
  .nav-itme-active{
    background: red;
  }
  .header-item-size-content{
    padding-left: .6rem;
  }
  .nav-item-typography.active {
    color: #fff;
  }
  .nav-item-typography {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
  }
  a.nav-link.text-center {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
  }
  .eritrosion-services-card-style:nth-child(2) {
    margin-top: 10rem;
  }
  .team-left-main-img-content {
  margin: 0 auto;
  }
  .team-right-content {
    margin-bottom: 4rem;
  }
  .member1 {
    top: 1rem;
    left: 4rem;
  }
  .member4 {
    top: 26rem;
    left: 5rem;
  }
  .login-register-btn-content{
    display: none;
  }
  .navbar-togle-button{
    display: flex;
  }
}


@media (max-width: 760px) {
  .eritrosion-services-card-style:nth-child(even) {
    margin-top: 10rem;
  }
  .team-right-content h4{
    font-size: 1.5rem;
  }
  .team-description p {
    font-size: 1.2rem;
    word-spacing: 2px;
  }
  .team-left-main-img-content {
    width: 15rem;
    height: 15rem;
}
  .team-main-border-righ {
    width: 6rem;
    height: 13.5rem;
    top: 10px;
    right: 0.7rem;
  }
  .team-main-border-left {
    width: 6rem;
    height: 13.5rem;
    right: 8.3rem;
    top: 10px;
  }
  .next-button {
    right: -4rem;
  }
  .prev-button {
    left: -4rem;
  }
  .team-left-content {
    width: 93%;
  }

}





@media (max-width: 540px) {
  .navbar-nav {
    width: 70vw;
  }
  .eritrosion-services-card-style:nth-child(odd) {
    margin-top: 0;
  }
  .eritrosion-services-card-style:nth-child(even) {
    margin-top: 0rem;
  }
  .eritrosion-services-card-style:nth-child(2) {
    margin-top: 0rem;
  }
  .eritrosion-services-card-style{
    margin-top: 2rem !important;
  }
  .hero .hero-main .hero-right-content .hero-right-img {
    width: 20rem;
    height: 20rem;
  }
  .hero-right-img-border {
    width: 181px;
    height: 22.5rem;
    position: absolute;
    right: -19px;
    top: -20px;
  }
  .hero-left-img-border {
    width: 167px;
    height: 22.6rem;
    position: absolute;
    right: 171px;
    top: -20px;
  }
  .login-register-btn {
    padding: 0.3rem 0.6rem;
    font-size: .9rem;
  }
  .team-left-content {
    border-left: none;
  }
  .member1, .member2, .member3, .member4 {
    display: none;
  }
  .team-left-content {
    width: 100%;
  }
  .team-left-content {
  padding: 0;

}


